section.tickets-list
  h2.visually-hidden Самые обсуждаемые предложения
  .tickets-list__wrapper
    .tickets-list__header
      p.tickets-list__title Самые обсуждаемые
    ul
      each offer of offers
        li.tickets-list__item
          .ticket-card.ticket-card--color01
            .ticket-card__img
              img(src=`/img/${offer.picture}` alt='Изображение товара')
            .ticket-card__info
              span.ticket-card__label #{offer.type}
              .ticket-card__categories
                each category of offer.category
                  a(href='#') #{category}
              .ticket-card__header
                h3.ticket-card__title
                  a(href='#') #{offer.title}
                p.ticket-card__price
                  span.js-sum #{offer.sum}
                  |  ₽
              .ticket-card__desc
                p #{offer.description}
